span {
  font: 20px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  background-color: #acdef0;
}
p {
  font: 20px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  background-color: #acdef0;
}
