<div *ngIf="current">
  <div *ngIf="current.name">
    <span><h2>{{ current.name }}</h2></span>
    <span style="color:darkslateblue; font-weight:bold;">Airs at: {{ current.time }} on {{ current.days }}</span><br />
    <span>Date Premiered: {{ current.premiered | date: "fullDate" }}</span><br />
    <span>Network: {{ current.network }}</span><br />
    <span>Show Rating: {{ current.rating }}/10
      <p>Runtime: {{ current.runtime }} mins</p> </span><br />
   
  </div>
  <div *ngIf="current.image">
    <img [src]="current.image" />
  </div>
  <div *ngIf="!current.name || current">
    No data
  </div>
</div>
