<div *ngIf="current">
  <div *ngIf="current.name">
    <span>{{ current.name }}</span><br />
    <span>Date Premiered: {{ current.premiered | date: "fullDate" }}</span><br />
    <span>Network: {{ current.network }}</span><br />
    <span>Show Rating: {{ current.rating }}/10
      <p>Runtime: {{ current.runtime }} mins</p> </span><br />
    <span>Airs at: {{ current.time }} </span>

    <span>on {{ current.days }}</span>
  </div>
  <div *ngIf="current.image">
    <img [src]="current.image" />
  </div>
  <div *ngIf="!current.name">
    No data
  </div>
</div>
