<body><div style="text-align: center;">
    <mat-toolbar color="primary">Your Personal TV guide: Just one click away!
    </mat-toolbar>
  </div>
    <div style="
    margin:auto;
    padding:10px;">
    <div style="text-align:center;">
    <mat-card>
      <app-tv-search (searchEvent)= "doSearch($event)"></app-tv-search>
    </mat-card>
  </div>
    <mat-card>
      <div style="text-align:center;"><h2>Show details</h2></div>
      <app-tvcomponent [current]="currentShow"></app-tvcomponent>
    </mat-card>
    </div></body>
