<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Document</title>
  </head>
  <body>
    <div style="text-align: center"></div>
    <h1>Your Personal TV guide</h1>
    <div>Just one click away!</div>
    <h2>Show details</h2>
    <mat-card>
      <app-tv-search></app-tv-search>
    </mat-card>
    <mat-card>
      <app-tvcomponent></app-tvcomponent>
    </mat-card>
  </body>
</html>
